<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lo stress</title>
  </head>
  <body>
    <h1 class="title" style="color: violet; font-size: 32px; font-weight: bold">
      Il benessere degli studenti!
    </h1>

    <div
      class="paragraph"
      style="margin-top: 20px; margin-bottom: 20px; color: black"
    >
      <p>Buongiorno {{name}} {{surname}},</p>
      <p>
        Il nostro team ci tiene al benessere dei propri studenti che
        usufruiscono di StudyStorm, pertanto ci comunicarti che negli ultimi 7
        giorni hai studiato per ben <b>{{hour}} ore.</b>
      </p>
      <p>
        Ci teniamo a consigliarti di non mantenere dei regimi così alti di
        studio, potrebbe non essere benefico per la tua salute!
      </p>
      <p>
        Dedicati con tutto te stesso allo studio, al superare un esame o una
        difficoltà ma miraccomando non renderla una ossessione, la vita è ben
        altro oltre allo studio!
      </p>
      <p>Grazie per averci dedicato la tua attenzione.</p>
      <p>Buona fortuna per i tuoi obiettivi da parte del team di StudyStorm!</p>
    </div>
  </body>
</html>
