<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lo stress</title>
  </head>
  <body>
    <h1 class="title" style="color: violet; font-size: 32px; font-weight: bold">
      Torna ad inserire qualche ora di studio!
    </h1>

    <div
      class="paragraph"
      style="margin-top: 20px; margin-bottom: 20px; color: black"
    >
      <p>Buongiorno {{name}} {{surname}},</p>
      <p>
        Abbiamo rilevato una sua inattività nell'utilizzo della nostra app,
        saremmo interessati a sapere se questo è dovuto ad un periodo di vacanza
        dallo studio o se non ti trovi bene con questo metodo.
      </p>
      <p>
        Se così fosse ci teniamo a sapere la tua opinione, contattaci via mail,
        o inserisci un feedback nell'app (<b
          >impostazioni>Aiuto e suggerimenti</b
        >).
      </p>
      <p>Grazie per averci dedicato la tua attenzione.</p>
      <p>Buona fortuna per i tuoi obiettivi da parte del team di StudyStorm!</p>
    </div>
  </body>
</html>
