<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda del team</title>
  </head>
  <body>
    <h1 class="title" style="color: violet; font-size: 32px; font-weight: bold">
      Resoconto giornaliero del team!
    </h1>

    <div
      class="paragraph"
      style="margin-top: 20px; margin-bottom: 20px; color: black"
    >
      <p>Buongiorno {{name}} {{surname}},</p>
      <p>
        Ti forniamo il resoconto giornaliero del tuo team per il progetto/esame
        {{goalName}}:
      </p>
      {{listAgenda}}
      <p>Buon proseguimento di serata.</p>
    </div>
  </body>
</html>
